<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>艺术资讯</title>
	
		<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/style_2_common.css" />
		<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/style_2_portal_index.css" />    
		<script src="catalog/view/theme/default/js/jquery.min.js" type="text/javascript"></script>
	    <script src="catalog/view/theme/default/js/jquery.superslide.js" type="text/javascript"></script>

	</head>
	<body id="nv_portal" class="pg_index" onkeydown="if(event.keyCode==27) return false;">
		<div id="wp" class="wp j_wp">
			<style id="diy_style" type="text/css"></style>
			<div class="wp"> 
  				<div id="diy1" class="area"></div>
			</div>
			<div class="jv_con_1 mt30 mb30 cl"> 
			  	<!-- 幻灯 -->
			  	<div class="focus_box cl"> 
    				<div id="focus_box" class="area">
    					<div id="frameZKqCCx" class="frame move-span cl frame-1">
    						<div id="frameZKqCCx_left" class="column frame-1-c">
    							<div id="frameZKqCCx_left_temp" class="move-span temp"></div>
    							<div id="portal_block_3" class="block move-span">
    								<div id="portal_block_3_content" class="dxb_bc">
    									<div class="pageState"></div>
										<a class="prev" href="javascript:void(0)"></a>
										<a class="next" href="javascript:void(0)"></a>
										<div class="bd">
										  	<ul>
										  		<li>
										  			<a href="../faxian/fanxian_nr.html"  target="_blank" title="根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！">
										  				<img src="catalog/view/theme/default/image/a0bde3431875e9140d45bfdc65c9b5a8.jpg" width="680" height="410" alt="根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！">
										  			</a>
										      		<div class="t_box whitebg">
										        		<h2>
										        			<a href="../faxian/fanxian_nr.html"  target="_blank" title="根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！">根据需要填写发布文章即可，下图框起部分必填，这里不</a>
										        		</h2>
										        		<p class="desc">
										        			<span class="quot_l"></span>根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！根据需要填写发布文...<span class="quot_r"></span>
										        		</p>
										      		</div>
										    	</li>
										    	<li>
										    		<a href="../faxian/fanxian_nr.html"  target="_blank" title="如何进行别名解析？别名解析的优势是什么？">
										    			<img src="catalog/view/theme/default/image/f73c2ccd5e751178d8275842a00753b0.jpg" width="680" height="410" alt="如何进行别名解析？别名解析的优势是什么？">
										    		</a>
											      	<div class="t_box whitebg">
											        	<h2>
											        		<a href="../faxian/fanxian_nr.html"  target="_blank" title="如何进行别名解析？别名解析的优势是什么？">如何进行别名解析？别名解析的优势是什么？</a>
											        	</h2>
											        	<p class="desc">
											        		<span class="quot_l"></span>
											        		出现这个英文提示的原因是网站处于关闭状态（非我司关闭）或域名未绑定！域名未绑定的...
											        		<span class="quot_r">	</span>
											        	</p>
											      	</div>
										    	</li>
										    	<li>
										    		<a href="../faxian/fanxian_nr.html"  target="_blank" title="如何进行别名解析？别名解析的优势是什么？">
										    			<img src="catalog/view/theme/default/image/f73c2ccd5e751178d8275842a00753.jpg" width="680" height="410" alt="如何进行别名解析？别名解析的优势是什么？">
										    		</a>
											      	<div class="t_box whitebg">
											        	<h2>
											        		<a href="../faxian/fanxian_nr.html"  target="_blank" title="如何进行别名解析？别名解析的优势是什么？">如何进行别名解析？别名解析的优势是什么？</a>
											        	</h2>
											        	<p class="desc">
											        		<span class="quot_l"></span>
											        		出现这个英文提示的原因是网站处于关闭状态（非我司关闭）或域名未绑定！域名未绑定的...
											        		<span class="quot_r">	</span>
											        	</p>
											      	</div>
										    	</li>
										  	</ul>
										</div>
									</div>
    							</div>
    						</div>
    					</div>
    				</div> 
  				</div>
  				<!-- 幻灯 右侧 -->
  				<div class="todayhot cl">
    				<div class="hd"> 
      					<div id="todayhott" class="area">
      						<div id="frameFXq1JA" class="frame move-span cl frame-1">
      							<div id="frameFXq1JA_left" class="column frame-1-c">
      								<div id="frameFXq1JA_left_temp" class="move-span temp"></div>
      								<div id="portal_block_30" class="block move-span">
      									<div id="portal_block_30_content" class="dxb_bc">
      										<div class="portal_block_summary">
      											<h2>今日<b>热</b>点</h2>
												<em>TODAY HOT</em>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      					</div>
    				</div>
    				<div class="bd"> 
      					<div id="todayhot" class="area">
      						<div id="framePY6cmS" class="frame move-span cl frame-1">
      							<div id="framePY6cmS_left" class="column frame-1-c">
      								<div id="framePY6cmS_left_temp" class="move-span temp"></div>
      								<div id="portal_block_20" class="block move-span">
      									<div id="portal_block_20_content" class="dxb_bc">
      										<ul>
      											<li>
  													<div class="txtboxs">
    													<div class="num">
    														<em class="jrNum1"></em>
    													</div>
      													<div class="nrtxt">
        													<h2>
        														<a href="../faxian/fanxian_nr.html" title="如何获取免费MYSQL?"  target="_blank">如何获取免费MYSQL?</a>
        													</h2>
        													<p>我司会员必须成功申请到免费空间后才能继续免费申请MYSQL免费空间开通后,登录后台进入免费空间&quot;管理&quot;页...</p>
      													</div>
  													</div>
												</li>
												<li>
  													<div class="txtboxs">
    													<div class="num">
    														<em class="jrNum2"></em>
    													</div>
      													<div class="nrtxt">
        													<h2>
        														<a href="../faxian/fanxian_nr.html" title="2014 全新设计地方门户资讯模版，显示器宽屏时代的到来"  target="_blank">2014 全新设计地方门户资讯模版，显示器宽</a>
        													</h2>
        													<p>2014 全新设计地方门户资讯模版，显示器宽屏时代的到来，各主流站点均调整宽度为1190px，因此本模板宽度也...</p>
      													</div>
  													</div>
												</li>
												<li>
  													<div class="txtboxs">
    													<div class="num">
    														<em class="jrNum3"></em>
    													</div>
     													<div class="nrtxt">
        													<h2>
        														<a href="../faxian/fanxian_nr.html" title="根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！"  target="_blank">根据需要填写发布文章即可，下图框起部分必</a>
        													</h2>
        													<p>根据需要填写发布文章即可，下图框起部分必填，这里不做过多介绍！根据需要填写发布文章即可，下图框起部分...</p>
      													</div>
  													</div>
												</li>
      										</ul>
      									</div>
      								</div>
      							</div>
      						</div>
      					</div>
    				</div>
  				</div>
			</div>

			<script type="text/javascript">
				jQuery(".focus_box").slide({ mainCell:".bd ul",titCell:".hd ul",effect:"fold",autoPlay:true,autoPage:true,
				startFun:function(i){jQuery(".focus_box .t_box").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"30px"},300);jQuery(".focus_box .t_box").eq(i).find(".desc").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);}});
				jQuery(function() {jQuery("div.holder").jPages({containerID: "hiddenresult",perPage:5,previous: "上一页",next: "下一页"});});
				jQuery(".portal_hot li").hover(function(){ jQuery(this).addClass("on").siblings().removeClass("on")},function(){ });
				jQuery(".see").slide({ mainCell:".bd ul",effect:"leftLoop",vis:3,autoPlay:true});
				jQuery(".scroller").slide({ mainCell:".bd ul",titCell:".hd ul",effect:"leftLoop",autoPlay:true,autoPage:true});
				jQuery('.item').hover(function() {jQuery(".whitebg", this).stop().animate({bottom: '0px'},{queue: false,duration: 300});},function() {jQuery(".whitebg", this).stop().animate({bottom: '-160px'},{queue: false,duration: 300});});
				jQuery(".hbody").slide({ titCell:".hd li", mainCell:".bd",delayTime:0 });
			</script>  
		</div>
		
	</body>
</html>