{{header}}
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/style.css">
<div class="about_banner"></div>
	<div class="floors about_fl01">
		<div class="about_w about_p">
	        <img src="catalog/view/theme/default/image/1514536747tit_gywm.jpg">
	        <h2>关于红福俱乐部</h2>
	        <div class="about_p_left">
	        	<p>红福俱乐部是由益达亚太有限公司、诗书画艺颂（北京）文化产业有限责任公司（上市企业代码：367652），共同发起成立的服务会员股东的内设高端平台。</p>
	        	<p>红福俱乐部创建伊始便本着“立足自身环境，发展自身优势”组织互动高端资源，努力服务全体成员。俱乐部初定A、B、C级会员99名，细分行业、谋篇布局、相互携手、互相成就。每位会员将代表一个行业领域，共同唱响红福齐天的伟大复兴梦，推动俱乐部快速具备社会复兴功能。红福俱乐部旗下红福商学院，将定期不定期为俱乐部会员提供智力服务，提高俱乐部成员展业造血功能，俱乐部内部资金互助会及时准备为每位成员提供资金项目互动，成就俱乐部成员业绩创新能力。
	        	</p>
	        	<p>红福俱乐部在不断加强自身建设的同时，还为俱乐部成员提供量身定制的养生保健项目，牵手301远程医疗中心专家与中国中医药管理局科技中心联动倾力打造科学高效的中医产业休养健身体系，强壮我筋骨，繁荣我使命。由此让俱乐部成员开心生活，快乐展业，富氧前行。
	        	</p>
	        </div>
	        <div class="about_p_right">
	        	<iframe src="http://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=2db5885a27ac647fbfd1504318510ec7&tvId=9607693109&accessToken=2.f22860a2479ad60d8da7697274de9346&appKey=3955c3425820435e86d0f4cdfe56f5e7&appId=1368&height=100%&width=100%" frameborder="0" allowfullscreen="true" width="100%" height="100%"></iframe>
	        </div>
	    </div>
	</div>
	<div class="floors about_fl02">
		<div class="about_w about_pv">
	       	<div class="about_wh2">
	       		<h2>精&emsp;神：&emsp;创新&emsp;&emsp;守德&emsp;&emsp;忠诚&emsp;&emsp;专注</h2>
		        <h2>使&emsp;命：&emsp;打造精品极品级政经文化板块，极力践行伟大复兴中国梦—红福梦</h2>
		        <h2>理&emsp;念：&emsp;开心&emsp;&emsp;快乐&emsp;&emsp;健康&emsp;&emsp;公平&emsp;&emsp;公正&emsp;&emsp;无畏</h2>
		        <h2>价值观：&emsp;赢在共盈&emsp;&emsp;德行天下&emsp;&emsp;厚爱薄发&emsp;&emsp;容福苍生</h2>
	       	</div>
	    </div>
	</div>
	<div class="cat-promote clearf">
		<div class="container clearf">
			<div class="fl">艺术资讯</div>
			<div class="fr">
				<a class="quanbu" href="#">全部资讯 &gt;&gt;</a>
			</div>
		</div>
		<div id="zixun">
			{{artnews}}
		</div>
	</div>
	<div class="cat-promote clearf">
		<div class="in_draw" id="element_id">
		    <div class="News_title">
		        <div class="img"><img src="catalog/view/theme/default/image/news.png"></div>
		        <div class="txt"><p>招聘中心</p><span></span></div>
		    </div>
		    <div class="box">
		        <ul class="list">
                    <li>
                        <a target="_blank" href="#">【岗位职位】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售经理】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售专员】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">【岗位职位】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售经理】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售专员】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">【岗位职位】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售经理】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                        <a target="_blank" href="#">【销售专员】岗位职责：1、根据董事会或团公司提出的战略目标，制定公司战略</a>
                    </li>
                </ul>
    		</div>
		</div>
	</div>
	<div class="cat-promote clearf">
		<div class="container clearf">
			<div class="fl">联系我们</div>
			<div class="fr">
				<a class="quanbu" href="#">全部联系 &gt;&gt;</a>
			</div>
		</div>
		<div id="Contactus">
			<div class="img"><img src="catalog/view/theme/default/image/lianxi.png"></div>
		</div>
	</div>

{{footer}}