{{ header }}
<style>
	footer{
		margin-top:0;
	}
	#middle{
		margin-top:74px;
		height:800px;
		background-image:url(catalog/view/theme/default/image/login-bgm.png);
		background-repeat:no-repeat;
		 		 
	}
	#mid-left{
		float:left;
		margin-top:40px;
		margin-left:495px; 
		padding:20px;
		width:950px;
		background:rgba(0,0,0,0.3);
		height:700px;
	}
	#mid-register{
		padding:10px;
		background-color:#fffffe;
		height:660px;
	}
	#m-left{
		float:left;
		padding:10px;
		border-right:solid 1px #E6E6E6;
		width:60%; 
		background-color:#fffffe;
		height:640px;
	}
	#m-left ul li{
		border-bottom: solid 1px #E6E6E6;
		list-style:none;
		color:red;
		font-size:18px;
		height:40px;
		text-align: center;
	}
	#m-left dl{
	        background-color: #FFF;
	        width: 473px;
	        height: 52px;         
	        margin-left: 40px;
	        border: solid 1px #E6E6E6;
	        position: relative;
	        z-index: 1;
	}
	#m-left dl dt{
	        font-size: 14px;
	       
	        color: #666;
	        width: 106px;
	        padding: 16px 10px 16px 10px;
	        float: left; 
	}
	#m-left dl dd{
	        height: 36px;
		float: left;
		padding: 8px 0;
	}
	#m-left dl dd .text{
	        font-size: 14px;
	        line-height: 36px;
	        width: 360px;
	        height: 36px;
	        padding: 0;
	        border: none 0;
	}
	#m-left .cap-div dl {
	        width: 340px;
		float: left;       
	}
	#m-right{
		float:right;
		padding:30px 20px;
		width:40%;
		text-align: center;
		height:640px;
		
	}
	.cap100 {
		width: 100px !important;
	}
	.pwd-div , .tcap-div{
		clear:both;
	}	 
	#m-left .pwd-div .pwd{
		font-size: 14px;
	        line-height: 36px;
	        width: 260px;
	        height: 36px;
	        padding: 0;
	        border: none 0;
	}
	#m-left .xieyi , .bt-div {
		margin-left: 40px;
	}
	.bt-div .submit{
		width:473px;
		height:40px;
		font-size:20px;
	}
	#p-ts{	 
		position:relative;
		height:33px;
		z-index:999;
		width:106px; 
		float:left; 
		left:-120px; 
		top:8px;
		padding:
	}
	img{
		margin-top:-36px;
	}
	#tmcap{
		visibility:hidden;
	}
	 
</style>
	<div id='middle'>
		<div id='mid-left' >
		    <div id='mid-register'>
		    	<div id='m-left'>
				<ul><li>注册</li></ul>
				<form method="post" action="index.php?route=common/register/add">
					<dl>
						<dt>手机号：</dt><dd><input type="text" id = 'tel' name = 'tel' class='text' placeholder='请输入手机号'></dd>
						 <dt id='d-ts'></dt>
					</dl>
					<div class='cap-div'>
						<dl id='ts_cap'>
							<dt>验证码：</dt><dd><input type="text" id = 'cap' class='text cap100' placeholder='请输入验证码'></dd>
						</dl>
						<dt id='p-ts'></dt>
						<span>{{ captcha }}</span>
					</div>
					<div class='tcap-div'>
						<dl>
							<dt>手机验证码：</dt> 
							<dd><input type="button" id = 'tcap' class='text' value='获取手机验证码' onclick='checkphone()'></dd>
							<dd><input type="text" id = 'tmcap' class='text' placeholder='请输入手机验证码'></dd>
						</dl>
					</div>
					<div class='pwd-div'>
						<dl>
							<dt>密码：</dt><dd><input type="password" name = 'password' class='text pwd' placeholder='请输入密码'></dd>
						</dl> 
					</div>
					<div class='cpwd-div'>
						<dl>
							<dt>确认密码：</dt><dd><input type="password" name = 'qpwd' class='text cpwd' placeholder='请输入确认密码'></dd>
						</dl> 
					</div>
					
					<div class = 'xieyi'>
						<input type="checkbox" name="xieyi" id='xieyi'><a href="/">《注册协议及隐私政策》</a>
					</div>
					<div class='bt-div'>
						<input type="submit" class='submit' id ='submit' value='注&nbsp;&nbsp;&nbsp;册' disabled>
					</div>
				</form>
			</div>
			<div id='m-right' >
			    <h6>已有账号，去<a href="index.php?route=/account/login">登录</a></h6>
			</div>
			
		    </div>
		</div>		 
	</div>
	
	
{{ footer }}

<script>
	$("#cap").blur(function (){
		var captcha = $("#cap").val();
		if( captcha ==''){
		     $("#p-ts").html("请输入验证码"); 
		     $("#p-ts").css("background-color","#ddd549");
		     $("#p-ts").css("position","relative");
		     $("#p-ts").css("height","33px");
		     $("#p-ts").css("line-height","33px");
		     $("#p-ts").css("left","-120px");
		     $("#p-ts").css("top","8px");
		     $("#p-ts").css("z-index","999");
		     $("#p-ts").css("width","106px");
		     $("#p-ts").css("padding-left","14px");
		     return;
		}
		 
	})
	$("#cap").focus(function (){
		     $("#p-ts").html(""); 
		     $("#p-ts").css("background-color","transparent");
		   
		
	})
	function checkphone (){
		var phone = $("#tel").val();
		var reg = /^1[3|4|5|7|8][0-9]{9}$/;  
                var flag = reg.test(phone); 
		var captcha = $("#cap").val();
	
		if( phone==''){
		     $("#d-ts").html("<span>请输入手机号</span>"); 
		     $("#d-ts").css("background-color","#ddd549");
		     $("#d-ts").css("position","relative");
		     $("#d-ts").css("height","33px");
		     $("#d-ts").css("line-height","0");
		     $("#d-ts").css("left","230px");
		     $("#d-ts").css("top","-28px");
		     return;
		}
		if( captcha ==''){
		     $("#p-ts").html("请输入验证码"); 
		     $("#p-ts").css("background-color","#ddd549");
		     $("#p-ts").css("position","relative");
		     $("#p-ts").css("height","33px");
		     $("#p-ts").css("line-height","33px");
		     $("#p-ts").css("left","-120px");
		     $("#p-ts").css("top","8px");
		     $("#p-ts").css("z-index","999");
		     $("#p-ts").css("width","106px");
		     $("#p-ts").css("padding-left","14px");
		     return;
		}
		if(!flag){
		     $("#d-ts").html("<span>格式错误</span>"); 
		     $("#d-ts").css("background-color","#ddd549");
		     $("#d-ts").css("position","relative");
		     $("#d-ts").css("height","33px");
		     $("#d-ts").css("line-height","0");
		     $("#d-ts").css("left","230px");
		     $("#d-ts").css("top","-28px");
		     return;
		}
		$.post("index.php?route=account/register/checkcap",
			{captcha:captcha},
			function(result){
			    if(result == 0){
				 $("#p-ts").html("验证码错误"); 
				     $("#p-ts").css("background-color","#ddd549");
				     $("#p-ts").css("position","relative");
				     $("#p-ts").css("height","33px");
				     $("#p-ts").css("line-height","33px");
				     $("#p-ts").css("left","-120px");
				     $("#p-ts").css("top","8px");
				     $("#p-ts").css("z-index","999");
				     $("#p-ts").css("width","106px");
				     $("#p-ts").css("padding-left","14px");
				     return;
			    }else{
			    	
				$("#tcap").hide();
				$("#tmcap").css("visibility","visible");
				$("#tmcap").focus();
			    }
			}
		);
	}
	$("#tel").blur(function (){
		var phone = $("#tel").val();
		var reg = /^1[3|4|5|7|8][0-9]{9}$/;  
                var flag = reg.test(phone); 
		
		if( phone==''){
		     $("#d-ts").html("<span>请输入手机号</span>"); 
		     $("#d-ts").css("background-color","#ddd549");
		     $("#d-ts").css("position","relative");
		     $("#d-ts").css("height","33px");
		     $("#d-ts").css("line-height","0");
		     $("#d-ts").css("left","230px");
		     $("#d-ts").css("top","-28px");
		     return;
		}
		if(!flag){
		     $("#d-ts").html("<span>格式错误</span>"); 
		     $("#d-ts").css("background-color","#ddd549");
		     $("#d-ts").css("position","relative");
		     $("#d-ts").css("height","33px");
		     $("#d-ts").css("line-height","0");
		     $("#d-ts").css("left","230px");
		     $("#d-ts").css("top","-28px");
		     return;
		} 
	})
	$("#tel").focus(function (){	
		     $("#d-ts").html("<span> </span>"); 
		     $("#d-ts").css("background-color","transparent");
	})
	$('#xieyi').click(function (){
		var bool =$("#xieyi").is(':checked');
		if(bool){
		    $('#submit').attr('disabled',false);
		    $('#submit').css('background-color','#ff3300');
		    $('#submit').css('border-radius','3px');
		    $('#submit').css('border','1px solid #adb2b5' );	
		}else{
		    $('#submit').attr('disabled',true);
		    $('#submit').css('background-color','#f4f4f4');
		    $('#submit').css('border','1px solid #adb2b5' );
		}
	})
	$('#submit').click(function (){
		 
	})

</script>


	