{{header}}
	<style>
		.sell-mid{
			text-align: center;
			height:450px;
			margin-top:74px;
			margin-bottom:60px;
		}
		.sell-mid-caption{text-align:center;}
		.sell-btn {
		    padding: 0.4em 2em;
		    text-decoration: none;
		    font-family: 'Carrois Gothic SC', sans-serif;
		    border: 6px solid#ebf8ff;
		    margin-top: 1em;
		    display: inline-block;
		    color: #FFF;
		    font-size: 1.7em;
		    text-align: center;
		    transition: 0.5s all;
		    background: linear-gradient(to bottom, #68cf53 0%,#61ca4c 16%,#41b62e 69%,#35ae22 100%);
		    width: 20%;
		}
		.choiceness{
			margin-top:50px;
			margin-bottom:50px;
		}
		.color-1e1e1e{color:#1e1e1e !important;}
		.text-center{text-align:center;}
		.f-s-30{font-size:30px !important;}
		.f-s-20{font-size:20px !important;}
		.m-t-30{margin-top:30px !important;}
		.container{width: 1170px;}
		.container {
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
		.row {
		    margin-right: -15px;
		    margin-left: -15px;
		}
		.col-lg-0{
			padding:0 !important;
			width:100%;
			padding-right: 15px;
    		padding-left: 15px;
		}
		.special .show1{height:400px;}
		.show-list .show{hidden;}
		.show{display:block!important;}
		.special .pic-center>*:first-child {
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		    display: inline-block;
		}
		.special a {
		    background-position: center;
		    background-size: cover;
		    background-repeat: no-repeat;
		}
		.content{
			min-width:1200px;
			position:relative;
			width:1200px;
			margin:0 auto;
		}
		.text_p{
			font-size:20px;
			color:#000;
			text-align:center;
			margin:60px auto 20px;
			line-height:30px;
			letter-spacing:4px;
		}
		.text_span{
			text-align:center;
			display:block;
			font-size:14px;
			color:#d2d2d2;
		}

		.swiper-container {
		    margin-left: auto;
		    margin-right: auto;
		    position: relative;
		    overflow: hidden;
		    z-index: 1;
		}

		.sell-swiper{
			margin-left: auto;
		    margin-right: auto;
		    position: relative;
		    overflow: hidden;
		    z-index: 1;
		}
		.question_div{height: 200px;}
		.question_div_span{height: 140px;}
		.question_p{font-size: 18px;color: #000;}
		.question_span{font-size: 14px;color: #666;line-height: 30px;margin-top: 40px;}
		.shop_you{
			width: 100%;
			text-align: center;
			position: relative;
		}
	</style>
	<div class='sell-mid'>
		<img src="catalog/view/theme/default/image/seek_banner.png">
	</div>
	<div class="sell-mid-caption">
		<h1>红福商城直卖网  红福网行业领军者</h1>
		<div class="sell-button">
			<a class="sell-btn" href="/adminUser" target='_blank'>艺术家入驻</a>
		</div>
	</div>

	<div class="special choiceness">
		<div class="color-1e1e1e text-center">
			<div class="f-s-30">SPECIAL</div>
			<span class="f-s-20">精选专场</span>
		</div>
		<div class="container show-list m-t-30">
			<div class="row">
				<div class="col-lg-0">
					<div class="col-lg-0 pic-center show show1">
						<a href="#" style="background-image:url(catalog/view/theme/default/image/20180820.png)"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content" style="margin:60px auto;">
		<p class="text_p">在红福网上都能卖什么？</p>
		<span class="text_span">Sell</span>
		<div style="display: flex;justify-content: center;text-align: justify ;margin-top: 50px;">
			<div>
	        	<div class='sell-swiper' style="width:355px;height:390px;">
					<img src="catalog/view/theme/default/image/seek_img7.png">
				</div>
				<div style="width:355px;">
					<p style="font-size:18px;text-align:center;color:#000;">艺术类</p>
					<hr style="height:1px;width:100%;background-color:#dddddc;">
				</div>
	        </div>
			<div style="margin:0px 66px;">
				<div class='sell-swiper' style="width:355px;height:390px;">
					<img src="catalog/view/theme/default/image/seek_img11.png">
				</div>
				<div style="width:355px;">
					<p style="font-size:18px;text-align:center;color:#000;">手工艺品</p>
					<hr style="height:1px;width:100%;background-color:#dddddc;">
				</div>
			</div>
			<div>
				<div class='sell-swiper' style="width:355px;height:390px;">
					<img src="catalog/view/theme/default/image/seek_img12.png">
				</div>
				<div style="width:355px;">
					<p style="font-size:18px;text-align:center;color:#000;">原创设计</p>
					<hr style="height:1px;width:100%;background-color:#dddddc;">
				</div>
			</div>
		</div>
	</div>
	<hr style="margin-top:30px;">
	<div class="content">
		<p style="font-size: 20px;color: #000;text-align: center;margin: 60px auto 20px;line-height: 30px;letter-spacing: 4px;">常见问题解答</p>
		<span style="text-align:center;display:block;font-size:14px;color:#d2d2d2;">frequently asked questions</span>
		<div style="display: flex;justify-content: center;text-align: justify ;margin-top: 50px;">
			<div style="width: 460px;margin-right: 130px;">
				<div class="question_div">
					<p class="question_P">1.在红福网如何入驻？</p>
					<p class="question_span">红福网有自己的一套审核机制，您首先需要注册红福网账户，然后便可以申请商家入驻，只要您的申请不违背我们的平台入驻协议，便可以通过审核，在红福网销售您的一切产品。</p>
				</div>
				<div class="question_div_span">
					<p class="question_P">3.支付到账时间？</p>
					<p class="question_span">消费者购买完毕后，自己会第一时间到您的账户</p>
				</div>
			</div>
			<div style="width:460px;">
				<div class="question_div">
					<p class="question_P">2.红福网有何不同？</p>
					<p class="question_span">我们的平台只为艺术家服务，艺术家可以在平台上建立自己的商城，自己经营。</p>
				</div>
				<div class="question_div_span">
					<p class="question_P">4.退货问题怎么解决？</p>
					<p class="question_span">退货之后</p>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="content">
		<div style="text-align:center;margin:80px;font-size:18px;">*如果您还有一些解决不了的疑问，请查看<a href="#" style="color: #ff883f;text-decoration: underline;font-size:18px;">支持与帮助</a>或者<a href="#" style="color: #ff883f;text-decoration: underline;font-size:18px;">联系我们</a></div>
	</div>
{{footer}}